/* Контейнер для фільмів */
.container {
    display: inline-block;
    gap: 20px;
    margin: 2px;
}

/* Стиль для кожного фільму */
.list {
    box-sizing: border-box; /* Враховуємо відступи в розмірах */
    text-align: center; /* Текст всередині фільму вирівняний по центру */
}


    .list ul {
        list-style-type: none; /* Прибирає маркери списку */
    }

/* Стилі для зображень */
img {
    width: 350px;
    height: 450px;
    object-fit: contain; /* Забезпечує правильне відображення без обрізання */

}

    img:hover {
        opacity: 0.5;
        cursor: pointer;
    }

/* Стилі для заголовка */
.title {
    font-size: 20px; /* Встановлює розмір шрифту */
    font-weight: bold; /* Робить текст жирним */
    margin-top: 10px; /* Додає відступ зверху */
    color: #ffffff;
}

    .title:hover {
        opacity: 0.5;
        cursor: pointer;
    }

#background{
    background-image: url('https://bogatyr.club/uploads/posts/2023-06/thumbs/1686997876_bogatyr-club-p-kirpichnaya-stena-neon-fon-vkontakte-1.jpg');
    background-position: center; /* выравнивание картинки по центру */
}

header {
    color: white; /* Білий текст */
    text-align: center; /* Вирівнюємо заголовок по центру */
    padding: 20px 0; /* Внутрішні відступи зверху та знизу */
    font-size: 30px; /* Розмір шрифту */
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
body {
    background: #1e013d;
}

/* Загальні стилі для бічної панелі */
.sidebar {
    display: none; /* Початково прихована */
    width: 300px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    position: fixed; /* Фіксоване позиціонування */
    top: 0;
    right: 0; /* Відстань від правого краю */
    z-index: 1000;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}





/* Таблиця характеристик */
.details-table {
    width: 100%; /* Таблиця розтягується на всю ширину бокової панелі */
    border-collapse: collapse; /* Об’єднує межі комірок, щоб не було подвійних ліній */
}

    /* Стилі для комірок таблиці */
    .details-table th,
    .details-table td {
        padding: 9px; /* Внутрішній відступ у комірках */
        border: 1px solid #ddd; /* Світло-сіра рамка між комірками */
        text-align: left; /* Вирівнювання тексту по лівому краю */
    }

    /* Стилі для заголовків таблиці */
    .details-table th {
        background-color: #f4f4f4f4; /* Фон заголовків таблиці */
    }

    /* Підсвічування рядка при наведенні */
    .details-table tr:hover {
        background-color: #f7dbff; /* Колір змінюється при наведенні курсору */
        cursor: default;/*курсор не змінюється при наведенні*/
    }

/* Кнопки */
.watched, .watch {
    width: 90%;
    text-align: center; /* Вирівнювання тексту по центру */
    padding: 10px; /* Внутрішній відступ для збільшення розміру кнопки */
    margin-top: 10px; /* Відступ зверху */
    border: 2px solid #14012e; /* Видаляє рамку */
    border-radius: 16px; /* Закруглює кути кнопки */
    cursor: pointer; /* Змінює вигляд курсору при наведенні */
    display: block; /* Зробить кнопку блочним елементом */
    margin: 10px auto; /* Відступ зверху і по центру горизонтально */
}

/* Стиль кнопки "Переглянуто" */
.watched {
    background-color: #9905f5;
    color: white;
    transition: background 0.4s; /* Плавна анімація зміни кольору */
}

/* Стиль кнопки "Переглянути фільм" */
.watch {
    background-color: #6b60f7;
    color: white;
    text-decoration: none; /* Видаляє підкреслення у посилання */
    text-align: center; /* Вирівнювання тексту */
    transition: background 0.4s; /* Плавна анімація зміни кольору */
}

/* Зміна кольору кнопки "Переглянуто" при наведенні */
.watched:hover {
    background-color: #7704bf;
}

/* Зміна кольору кнопки "Переглянути фільм" при наведенні */
.watch:hover {
    background-color: #4b44b3;
}

/* Опис фільму */
.description {
    line-height: 1.5; /* відстань між рядками */
}
/* Блок з кнопками та описом */
.right-content {
    flex-grow: 1; /* Розширюється на всю доступну ширину */
}
/* Стилі для форми пошуку */
#search-form {
    display: flex; /* Розташовує елементи в рядок */
    justify-content: right;

}
    /* Поле введення пошуку */
    #search-form input {
        width: 200px; /* Фіксована ширина поля */
        padding: 10px 20px; /* Відступи всередині */
        font-size: 15px; /* Розмір тексту */
        border-radius: 5px; /* Закруглені краї */
        position: relative;
        top: -37px; /* Піднімає кнопку на 10px */
    }


    /* Кнопка пошуку */
    #search-form button {
        background-color: #6f06d1;
        color: white; /* Білий текст */
        border: none; /* Видаляємо рамку */
        padding: 10px 10px; /* Внутрішні відступи */
        font-size: 15px; /* Розмір тексту */
        margin-left: 9px; /* Відступ між полем і кнопкою */
        position: relative;
        top: -37px; /* Піднімає кнопку на 10px */
        border-radius: 5px; /* Закруглені краї */
        cursor: pointer; /* Вказує, що це кнопка */
        transition: background 0.3s; /* Плавна анімація зміни кольору */
    }

        /* Ефект при наведенні на кнопку пошуку */
        #search-form button:hover {
            background-color: #430380; 
        }

/* Стилі для блоку фільтрів */
#filters {
    background: linear-gradient(to bottom, #1c104a, #1e013d );
    padding: 15px; /* Внутрішні відступи */
}

    /* Оформлення міток (label) */
    #filters label {
        font-style: italic;
        margin-right: 10px; /* Відступ справа від тексту */
        color: snow;
        font-size: 17px;
    }

    /* Оформлення випадаючих списків */
    #filters select {
        padding: 8px; /* Відступи всередині */
        font-size: 15px; /* Розмір тексту */
        border-radius: 5px; /* Закруглені краї */
        cursor: pointer; /* Вказує, що можна взаємодіяти */
    }
