img {
    display: block; /* Змінює картинку на блок, щоб прибрати можливі відступи знизу */
    width: 300px;
    height: 400px;
    object-fit: contain;
}
.list ul {
    list-style-type: none; /* Видаляє маркери списку */
    padding: 0; /* Прибирає відступи */
    margin: 0; /* Прибирає зовнішні відступи */
}
