/* Контейнер для фільмів */
.container {
    display: inline-block;
    margin: 2px;
}

.hidden {
    display: none;
}

.rating-container {
    margin-top: 15px;
    opacity: 0;
}

.rating-container.show {
    display: block;
    opacity: 1;
}

/* Поле коментаря */
.comment {
    width: 90%;
    height: 80px;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}

/* Блок зірок */
.stars {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.star {
    font-size: 30px;
    cursor: pointer;
    color: #c9c0cc;
    transition: color 0.3s, text-shadow 0.3s;
}

.star:hover {
    color: #b266ff;
    text-shadow: 0 0 10px #a020f0, 0 0 20px #a020f0, 0 0 30px #a020f0;
}

.star.selected {
    color: #ffffff;
    text-shadow: 0 0 10px #b266ff, 0 0 20px #b266ff, 0 0 40px #b266ff, 0 0 60px #b266ff;
}

/* Стиль для кожного фільму */
.list {
    box-sizing: border-box;
    text-align: center;
    padding: 20px 0;
}

.list ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 25px;
    justify-content: start;
}

.list .item {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.list .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.616);
}

.item .title {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
    pointer-events: none;
}

.item:hover .title,
.item.show-title .title {
    opacity: 1;
    transform: translateY(0);
}

/* Стилі для зображень */
img {
    width: 350px;
    height: 450px;
    object-fit: contain;
}

img:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* Стилі для заголовка */
.title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
    padding-bottom: 40px;
}

.title:hover {
    opacity: 0.5;
    cursor: pointer;
}

#background {
    background-position: center;
}

header {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    animation: fadeIn 2s ease-in-out;
    text-shadow: 0 0 15px #000000, 0 0 20px #ffffff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-image: url('img/backgr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Бічна панель */
.sidebar {
    font-size: 17px;
    color: white;
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100%;
    background-color: #21053bd2;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow-y: auto;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}

.sidebar.show {
    transform: translateX(-400px);
}

/* Таблиця характеристик */
.details-table {
    width: 100%;
    border-collapse: collapse;
}

.details-table th,
.details-table td {
    padding: 9px;
    text-align: left;
}

.details-table th {
    background-color: #170429c9;
}

.details-table tr:hover {
    filter: brightness(60%);
    cursor: default;
}

/* Кнопки */
.watched,
.watch,
.rating {
    font-size: 15px;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

/* Кнопка "Підтвердити оцінку" */
.rating {
    background: #853ac7b0;
    color: white;
    transition: background 0.4s;
    padding: 8px;
    margin-top: 8px;
}

.rating:hover {
    filter: brightness(70%);
}

/* Кнопка "Переглянуто" */
.watched {
    background-color: #853ac7b0;
    color: white;
    transition: background 0.4s;
}

.watched:hover {
    filter: brightness(70%);
}

/* Кнопка "Переглянути фільм" */
.watch {
    background-color: #3f0e6bb0;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background 0.4s;
}

.watch:hover {
    filter: brightness(70%);
}

/* Текстова область */
textarea {
    background-color: #23083ca4;
    color: white;
}

/* Опис фільму */
.description {
    line-height: 1.5;
}

/* Блок з кнопками та описом */
.right-content {
    flex-grow: 1;
}

/* Форми пошуку */
#search-form {
    display: flex;
    justify-content: right;
}

#search-form input {
    width: 220px;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #7b4ca0;
    background: #2b0a4a;
    color: #fff;
    outline: none;
    position: relative;
    top: -47px;
}

#search-form button {
    background: #2b0a4a;
    color: #fff;
    border: none;
    padding: 5px 5px;
    font-size: 15px;
    margin: 0 10px;
    position: relative;
    top: -47px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

#search-form button:hover {
    filter: brightness(115%);
    transform: scale(1.1);
}

/* Блок фільтрів */
#filters {
    background-color: #0000006a;
    padding: 10px;
    border-radius: 10px;
}

#filters label {
    font-style: italic;
    margin-right: 10px;
    color: #fff;
    font-size: 17px;
    padding-left: 12px;
}

#filters select {
    padding: 8px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #7b4ca0;
    background: #2b0a4a;
    color: #fff;
    cursor: pointer;
}
